/* ------------------Home Page css---------------------- */

/*the body is given a margin of zero to eliminate any margins, and a black background color so entire page appears black*/
body {
  display: flex;
  border: 10px rgb(166, 137, 180) solid;
  border-radius: 6px;
  max-width: 1000px;
  padding: 10px;
  background-color: black;
}

/* a container holding the page elements so they are centered , have a column direction, and*/
/* PROBLEM: NEED TO CLARIFY EXPLANATION FOR FLEX */
#container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* how much space it is taking up within the flex container*/
  margin: 0;
  max-width: 1000px;
  background-color: navy;
  padding: 5vh;
}

h1 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(212, 42, 228);
  padding-bottom: 20px;
}

/*specifies width of home page image, no height specified so it constrains proportions*/
#homeimg {
  max-width: 400px;
  margin-bottom: 70px;
}

/*--------Button styling css--------*/

/* PROBLEM: BUTTON TEXT SHOULD BE BLACK AND BUTTON NEEDS SPACING ABOVE IT. HOVER PSEUDO NOT WORKING*/
#button {
  padding: 4px;
  border-radius: 10px; /*rounds button edges*/
  background-color: rgb(137, 36, 184);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

button:hover {
  background-color: rgb(110, 60, 110);
}

/*-----may need this for media screen specific design later
@media screen and (max-width < 500px){
}----*/

/* ---------------------------Round1 css------------------------------- */

/* ---Game board layout---*/
/*PROBLEM: GAME BOARD NOT RESPONSIVE TO SHRINKING BROWSER, WANT TO DEFINE THE 'BOXES' WITH A SHADOW, */
#board {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1000px;
  max-height: 600px;
  background-color: rgb(223, 20, 230);
  padding-bottom: 20px;
  border: white 5px solid;
  border-radius: 1em;
}

/* PROBLEM: NEED TO FIX TITLES IN LAYOUT--IDEALLY THEY WOULD BE SEPARATE! */
.gametitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  width: 20vh;
  height: auto;
  color: white;
}

h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  width: 20vh;
  height: auto;
  color: white;
}
#rows h3 {
  /*this pseudoclass takes the h3 elements inside the #board id and puts a gold border around them */
  border: gold solid 2px;
  padding: 80px;
}

/* ----------------Round2 css--------------------- */

/* -------------------Final-jeopardy css------------------- */
#finalcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 50px;
}

/* PROBLEM: IDS CONNECTED TO THIS ARE NOT WORKING SO FONTS ARE NOT CHANGING */
#finaljtitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 80 px;
  font-weight: bold;
  width: 20vh;
  color: white;
}

#finaljq {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 55 px;
  font-weight: bold;
  width: 20vh;
  color: white;
}
