body,
html {
  max-height: 100%;
}
/*id that targets display properties of the button*/

button {
  height: 30px;
  padding: 4px;
  border-radius: 10px; /*rounds button edges*/
  background: yellow;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: small;
}
/*button hover is not working! I want to get help to fix this*/
button:hover {
  background: rgba(136, 43, 136, 0.993);
}

/* gives body a grey background and yellow text also sets the font size */
body {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: yellow;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: rgba(74, 67, 124, 0.993);
}

/* styles the layout for the page level game heading */
.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0em;
}

/* div to hold timer and scores */
#timer-scores {
  display: flex;
  justify-content: space-between;
  padding: 0em;
}

/* styling for timer  */
#timer {
  display: flex;
  align-items: center;
  margin: 0em;
}

/* styling for scores  */
#score {
  display: flex;
  align-items: center;
}

/* positioning game board contents */
.game-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

/* styling for category titles */
.category-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4em;
  margin-right: 0.4em;
  flex: 1;
  height: 3em;
  background-color: darkblue;
  color: yellow;
  text-align: center;
}

/* makes columns  */
.game-board .column {
  flex: 1;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

/* makes rows and so they appear across and roll over */
.row {
  flex-basis: 100%;
  margin-top: 0em;
}

/* styling for column and game-board contents */
.game-board .column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4em;
  margin-right: 0.4em;
  height: 3em;
  background-color: darkblue;
  color: yellow;
  text-align: center;
}

/* styling for game modal (hidden) --still working on this */
.game-modal {
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: darkblue;
  position: fixed;
  font-size: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* css to show game modal */
.game-modal .visible {
  opacity: 1;
}
